/* 
font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:wght@400;600;700;900&family=Ubuntu:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}
